.swayPointContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 20px;
    padding-right: 10px;
}

.timeContainer{
    margin-top: 10px;
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
    gap: 10px; /* Adds spacing between buttons */
    width: 100%;
    height: 70px;
    align-items: center; /* Align buttons to the left (optional) */
}


.swayPointButton, .completeButton {
    border-radius: 5px;
    padding: 0;
    width: 168px;
    font-size: 14px;
    border: none;
    height: inherit;
    text-align: center;
}

.swayPointButton:hover, .completeButton:hover{
    filter: brightness(80%);
    cursor: pointer;
  }

.completeButton {
    padding: 8px;
    width: 80%;
    background-color: #6497dd;
}

.swayPointController{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

.eraserIcon {
    width: 20px;
    height: 20px;
}
  
.eraserButton {
padding: 3px;
background-color: transparent;
border-radius: 5px;
border: none;
cursor: pointer;
border: 2px solid transparent;
}
.isEraserActive {
border: 2px solid grey;
background-color: #6497dd;;
}