* {
  transition: 0.15s ease-in-out;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  min-height: 100vh; /* Full viewport height */
  display: table; /* Allows centering without flex */
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.inactive {
  display: none;
}

.next-frame {
  display: none;
}

.message {
  position: absolute;
  margin: 20px;
  top: 0;
  right: 0;
  z-index: 1000;
  /* Ensure the alert is on top of other content */
  padding: 10px;
  background-color: #ee827a;
  /* Red background color */
  color: #fff;
  /* White text color */
  padding: 10px 20px;
  /* Padding around the alert content */
  border-radius: 5px;
  /* Rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  /* Shadow for depth */
}

.container {
  display: table-cell;
  margin: 0 auto; /* Center horizontally if width is enough */
  min-width: 1200px; /* Maximum width of the div */
  max-width: 1200px;
  margin-top: 50px;
  height: 660px;
  position: relative;
  padding-top: 50px; /* for nav bar or title bar */
  display: flex;
  background-color: #586a81;
  flex-direction: row;
  justify-content: center;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0px 0px 10px 5px #586a81;
}

.scooter-icon {
  width: 36px;
  height: 36px;
}

.title-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100%;
  top: 10px;
  left: 16px;
  align-items: end;
}

.title {
  font-family: "Trebuchet MS", sans-serif;
  margin-left: 10px;
  font-weight: bold;
  font-size: 24px;
  color: rgb(224, 233, 230);
}
.time {
  min-width: 60px;
  max-width: 60px;
}

.version {
  position: absolute;
  font-family: "Courier New", monospace;
  font-size: 18px;
  top: 30px;
  right: 10px;
  color: rgb(224, 233, 230);
}

.mid-container {
  position: relative;
  justify-content: start;
  align-items: center;
  display: flex;
  background-color: #aabdd4;
  flex-direction: column;
  width: 800px;
}

.mid-input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.mid-input-container h4 {
  margin: auto;
}

.left-container {
  display: flex;
  background-color: #becfe5;
  width: 200px;
  height: inherit;
  flex-direction: column;
}

.left-container h3 {
  margin: 10px;
}

.right-container {
  display: flex;
  flex-direction: column;
  background-color: #7388a1;
  height: inherit;
  width: 200px;
}

.right-container h3 {
  margin: 10px;
}

.file-upload-button {
  margin: 12px 20px;
  background-color: #4c7faf;
  border: none;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  user-select: none;
}

.file-upload-button:hover {
  background-color: #264871;
}

.save-btn {
  all: unset;
  margin: 12px 20px;
  background-color: #4c7faf;
  border: none;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  user-select: none;
}

.save-btn:hover {
  background-color: #264871;
}

.file-input {
  display: none;
}

.bar {
  width: 100%;
  height: 0.5rem;
}

.label-container {
  display: flex;
  background-color: #becfe5;
  width: inherit;
  height: inherit;
  flex-direction: column;
  align-items: center;
}

.edit-labels {
  border-radius: 5px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-labels:hover {
  background-color: #6a99d2;
  cursor: pointer;
}

.label-item {
  margin-top: 10px;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 30px;
}

.label-index {
  margin: 5px;
}

.label-item input {
  border-radius: 5px;
  padding: 0;
  padding-left: 5px;
  font-size: 14px;
  width: 120px;
  border: none;
  background-color: #6497dd;
  height: inherit;
}

.label-item .selected-label {
  border: 4px solid #797eb7;
}

.label-item .active-label {
  border: 6px solid #9197dc;
}

.label-item input:read-only {
  width: 160px;
}

.label-item input:read-only:focus {
  outline: none;
}

.label-item input:read-only:hover {
  filter: brightness(80%);
  cursor: pointer;
}

.label-item button {
  border-radius: 5px;
  font-size: 20px;
  width: 30px;
  border: none;
  background-color: #ec7777;
  height: inherit;
  user-select: none;
}

.label-item button:hover {
  background-color: #c46363;
  cursor: pointer;
}

.add-btn {
  margin: 5px;
  border-radius: 5px;
  font-size: 20px;
  width: 30px;
  border: none;
  background-color: #4c7faf;
  height: 30px;
  user-select: none;
}

.add-btn:hover {
  background-color: #264871;
  cursor: pointer;
}

.hint {
  padding: 5px 8px;
}
