name: Deploy on Merge

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '18'

    - name: Change to web directory
      run: cd web

    - name: Install Dependencies
      run: npm install
      working-directory: ./web

    - name: Build the project
      run: npm run build
      working-directory: ./web
      env:
        CI: false

    - name: Configure Git
      run: |
        git config user.name ${{ secrets.NAME }}
        git config user.email ${{ secrets.EMAIL }}

    - name: Deploy
      run: npx gh-pages -d build --repo https://${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        CI: false
      working-directory: ./web
